.vscode/*
analysis/*.html
analysis/.RData
analysis/.RDataTmp
analysis/.Rhistory
analysis/.Rproj.user
build/*
logs/*
notebooks/.ipynb_checkpoints
scripts/__pycache__
scripts/lib/__pycache__
workloads/*
*_out.csv.gz
*_out.pcapng
*.pyc
desktop.ini
