.vscode/*
analysis/*.html
analysis/*.pdf
analysis/*.svg
analysis/.RData
analysis/.RDataTmp
analysis/.Rhistory
analysis/.Rproj.user
build/*
logs/*
notebooks/.ipynb_checkpoints
workloads/*
*_out.csv.gz
*_out.pcapng
*.pyc
desktop.ini
